.header{
	height:5%;
}
.header img{
	width:10%;
}
#txt{
	width:78%;
}
#btn{
	width:10%;
}
#rel{
	height:90%;
	background-image:url(file:WP24CNHQ.jpg);
}
.card{
	display:inline-block;
	height:45%;
	width:19%;
	background-image:url(file:logobookfinal.gif);
	margin:3px;
}
#rel p{
	height:15%;
	text-align:center;
}
.nmb{
	color:black;
}
.ccn{
	color:black;
}
.lrs{
	height:60%;
	width:100%;
}
